a,
a:hover {
  color: #212529;
}

h3 {
  margin: 0 0 1em;
}

h4 {
  font-size: 1.3em;
}

h5,
p,
ul {
  font-size: 1.1em;
}

ul:not(#realisations ul) {
  padding: 0;
  list-style: none;
}

ul:not(#competences ul, footer ul) {
  list-style: square;
  margin: 0;
}

#img {
  height: 100vh;
  position: fixed;
  background-image: url('./images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section,
header,
footer {
  padding: 0;
  background-color: #fff;
  z-index: 99;
}

header {
  padding: 0.5em 0 3em;
}

header h1 {
  margin: 0;
}

header small {
  font-size: 1.3em;
}

section#presentation,
section#cv {
  margin: 0 0 45em;
}

section#projets {
  background-color: #212529;
}

article {
  padding: 2em 0 0;
  margin: auto;
}

.card {
  border-radius: 0;
  border: none;
}

.no-border {
  border-right: none !important;
}

.bg-grey {
  background: #dadada8e;
}

#realisations {
  padding: 0.6em 0.7em 0.6em;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

#competences div.card-body {
  padding: 0;
}

#competences h5 {
  padding: 0.2em;
  background-color: #212529;
  color: #fff;
}

#projets .card {
  border: none;
  border-right: 1px solid #212529;
}

#projets .desc h4,
#projets .desc h5 {
  margin: 0;
}

#projets .desc ul {
  list-style: none;
}

#projets .desc svg {
  width: 2em;
  fill: rgb(131, 131, 131);
}

#gitlab {
  margin: 1em 0 0;
  text-align: center;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {

  #presentation article,
  footer>div {
    min-width: 100%;
  }

  #presentation,
  #contact {
    padding: 0 2em 0;
  }

  #experiences,
  #competences {
    margin: 3em 0 0;
  }
}

@media screen and (max-width: 1387px) {

  #cv article,
  footer>div {
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 1.1em;
  }

  h5,
  p,
  ul {
    font-size: 1em;
  }
}